Repository wesleyfreit/keep-note: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,d.ts}": ["eslint --fix"],
  "**/*.{json,css,config.*}": ["prettier --write"],
  "**/*.{md,markdown}": ["prettier --write"]
}

fix: remove older dependency for email validation
  apps/api/package.json
  apps/api/src/lib/email-validator.ts
  apps/api/src/routes/users.routes.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add scripts for prisma generate, migrate, deploy and seed, configurate environments
  apps/api/.gitignore
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/src/env/index.ts
  apps/api/src/validation/env-schema.ts
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

fix: resolve overrides removing security issues in dependencies, add prisma seed notes and improve components
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/web/package.json
  apps/web/src/actions/app.ts
  apps/web/src/actions/auth.ts
  apps/web/src/app/(home)/empty-notes.tsx
  apps/web/src/app/(home)/list-notes.tsx
  apps/web/src/app/(home)/modify-note-card.tsx
  apps/web/src/app/(home)/new-note-card.tsx
  apps/web/src/app/(home)/note-card.tsx
  apps/web/src/app/(home)/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/login/login-form.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/app/register/register-form.tsx
  apps/web/src/components/input.tsx
  apps/web/src/components/separator.tsx
  apps/web/src/contexts/auth-context.tsx
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/providers/auth-provider.tsx
  apps/web/src/validation/signin-schema.ts
  apps/web/src/validation/signup-schema.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: improve environment examples and reduce files
  apps/web/.env.example
  apps/web/.env.local.example
  apps/web/src/app/(home)/modify-note-card.tsx
  apps/web/src/app/(home)/note-card.tsx
  apps/web/src/components/button.tsx
  apps/web/src/components/header.tsx
  apps/web/src/env/index.ts
  apps/web/src/validation/env-schema.ts
Due: eslint --fix

refactor: separate routes and controllers
  apps/api/src/controllers/notes/create.ts
  apps/api/src/controllers/notes/fetch.ts
  apps/api/src/controllers/notes/find.ts
  apps/api/src/controllers/notes/remove.ts
  apps/api/src/controllers/notes/update.ts
  apps/api/src/controllers/users/profile.ts
  apps/api/src/controllers/users/sign-in.ts
  apps/api/src/controllers/users/sing-up.ts
  apps/api/src/controllers/users/verify-email.ts
  apps/api/src/routes/notes.routes.ts
  apps/api/src/routes/users.routes.ts
  apps/api/src/validation/notes-schema.ts
  apps/api/src/validation/params-schema.ts
  apps/api/src/validation/users-schema.ts
Due: eslint --fix

refactor: update environment examples and add home router in api
  apps/api/.env.example
  apps/api/src/app.ts
  apps/web/.env.example
Due: eslint --fix

fix: resolve errors with dependencies and next build
  apps/web/package.json
  apps/web/src/app/(home)/page.tsx
  apps/web/src/app/verify-email/page.tsx
  apps/web/src/lib/api.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

fix: remove env schema in web to try fix production error
  apps/web/src/env/index.ts
  apps/web/src/lib/api.ts
Due: eslint --fix

refactor: improve user data returned
  apps/api/src/controllers/users/profile.ts
  apps/api/src/controllers/users/sign-in.ts
Due: eslint --fix

fix: deprecated dependencies in api and update frontend dependencies
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/src/controllers/users/sign-in.ts
  apps/api/src/controllers/users/sing-up.ts
  apps/web/package.json
  apps/web/src/app/globals.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: deprecated dependencies in api and update frontend dependencies
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: resolve tailwindcss new version environment
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: update LICENSE
  LICENSE
Due: none

refactor: update http requests format and fix errors
  apps/api/src/controllers/users/sign-in.ts
  apps/web/.env.example
  apps/web/src/actions/auth.ts
  apps/web/src/actions/notes.ts
  apps/web/src/actions/users.ts
  apps/web/src/app/(home)/list-notes.tsx
  apps/web/src/app/(home)/page.tsx
  apps/web/src/app/login/login-form.tsx
  apps/web/src/app/register/register-form.tsx
  apps/web/src/lib/api-error.ts
  apps/web/src/lib/api.ts
  apps/web/src/providers/auth-provider.tsx
Due: eslint --fix

refactor: update http requests format and fix errors
  apps/api/src/controllers/users/sign-in.ts
Due: eslint --fix

refactor: update http requests format and invalidate, fix errors
  apps/api/src/app.ts
  apps/web/src/actions/auth.ts
  apps/web/src/app/(home)/list-notes.tsx
  apps/web/src/app/(home)/page.tsx
  apps/web/src/app/api/reset/GET.ts
  apps/web/src/components/unauthorized.tsx
  apps/web/src/lib/api.ts
Due: eslint --fix
