Repository wesleyfreit/keep-note: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,d.ts}": ["eslint --fix"],
  "**/*.{json,css,config.*}": ["prettier --write"],
  "**/*.{md,markdown}": ["prettier --write"]
}

breaking-change: add createdAt note attribute, animation in notes and overlays and tailwind plugin for eslint
  apps/api/prisma/migrations/20240214164512_add_note_created_at/migration.sql
  apps/api/prisma/schema.prisma
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  apps/web/src/components/empty-notes.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/list-notes.tsx
  apps/web/src/components/modify-note-card.tsx
  apps/web/src/components/new-note-card.tsx
  apps/web/src/components/note-card.tsx
  apps/web/src/components/spinner.tsx
  apps/web/src/dtos/NoteDTO.ts
  packages/eslint-config/nextjs.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: improve create new note functionality
  apps/web/src/components/header.tsx
  apps/web/src/components/new-note-card.tsx
Due: eslint --fix

refactor: improve modify note functionalities and fix toast blur
  apps/web/src/app/layout.tsx
  apps/web/src/components/modify-note-card.tsx
  apps/web/src/components/new-note-card.tsx
  apps/web/src/components/note-card.tsx
Due: eslint --fix

refactor: improve auto recover unsaved note functionality
  apps/web/src/components/modify-note-card.tsx
  apps/web/src/components/new-note-card.tsx
Due: eslint --fix

feat: add note id parameter in url
  apps/web/src/components/note-card.tsx
Due: eslint --fix

feat: add user model and relation between users and notes
  apps/api/prisma/migrations/20240215172816_create_users/migration.sql
  apps/api/prisma/migrations/20240215173013_add_relation_between_users_and_notes/migration.sql
  apps/api/prisma/schema.prisma
Due: none

feat: add firebase authentication config and envSchema for firebase
  apps/api/package.json
  apps/api/src/services/firebase.ts
  apps/api/src/validation/envSchema.ts
Due: eslint --fix, prettier --write

feat: add signup and signin routes with body validation and firibase authentication
  apps/api/src/routes/users.routes.ts
  apps/api/src/validation/usersSchema.ts
Due: eslint --fix

style: change name of files and folders
  apps/api/src/app.ts
  apps/api/src/config/firebase-config.ts
  apps/api/src/env/index.ts
  apps/api/src/lib/prisma-client.ts
  apps/api/src/routes/notes.routes.ts
  apps/api/src/routes/users.routes.ts
  apps/api/src/services/firebase-auth.ts
  apps/api/src/validation/env-schema.ts
  apps/api/src/validation/notes-schema.ts
  apps/api/src/validation/params-schema.ts
  apps/api/src/validation/users-schema.ts
  apps/web/src/env/index.ts
  apps/web/src/validation/env-schema.ts
Due: eslint --fix

feat: add a email validator before create a user
  apps/api/package.json
  apps/api/src/lib/email-validator.ts
  apps/api/src/routes/users.routes.ts
  package.json
  patches/deep-email-validator@0.1.21.patch
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add rate limit for signin requests because of sendEmailVerification function
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/routes/users.routes.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

breaking-change: add jwt validation, remove fastify rate limit to set firebase rate limit error handling and updates other error handling
  apps/api/package.json
  apps/api/src/@types/auth.d.ts
  apps/api/src/app.ts
  apps/api/src/middlewares/user-auth.ts
  apps/api/src/middlewares/user-validation.ts
  apps/api/src/routes/notes.routes.ts
  apps/api/src/routes/users.routes.ts
  apps/api/src/server.ts
  apps/api/src/validation/env-schema.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update turbo pipeline and turbo scripts
  package.json
  turbo.json
Due: prettier --write

feat: add user actions and user dto
  apps/api/src/routes/users.routes.ts
  apps/web/src/actions/users.ts
  apps/web/src/dtos/UserDTO.ts
Due: eslint --fix

feat: add signup and login pages with react hook form and zod validation
  apps/web/package.json
  apps/web/public/sticky-note.png
  apps/web/src/app/globals.css
  apps/web/src/app/login/page.tsx
  apps/web/src/app/signup/page.tsx
  apps/web/src/components/input.tsx
  apps/web/src/components/welcome-section.tsx
  apps/web/src/validation/signin-schema.ts
  apps/web/src/validation/signup-schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: improve names of dtos
  apps/web/src/actions/notes.ts
  apps/web/src/actions/users.ts
  apps/web/src/components/list-notes.tsx
  apps/web/src/components/modify-note-card.tsx
  apps/web/src/components/new-note-card.tsx
  apps/web/src/components/note-card.tsx
  apps/web/src/dtos/note.ts
  apps/web/src/dtos/user.ts
Due: eslint --fix

breaking-change: add user authentication in login and home pages with cookies using next/headers, add auth context with auth hook and add get user properties route
  apps/api/src/middlewares/user-validation.ts
  apps/api/src/routes/notes.routes.ts
  apps/api/src/routes/users.routes.ts
  apps/web/src/actions/auth.ts
  apps/web/src/actions/notes.ts
  apps/web/src/actions/users.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/login-form.tsx
  apps/web/src/contexts/auth.tsx
  apps/web/src/dtos/user.ts
  apps/web/src/hooks/use-auth.tsx
  apps/web/src/services/api.ts
Due: eslint --fix

fix: correct empty notes exibition, align text for empty notes exibition and danger validation input
  apps/web/src/components/empty-notes.tsx
  apps/web/src/components/input.tsx
  apps/web/src/components/list-notes.tsx
Due: eslint --fix

feat: add signup functionalities
  apps/web/src/actions/users.ts
  apps/web/src/app/signup/page.tsx
  apps/web/src/components/signup-form.tsx
Due: eslint --fix

feat: add userId filter for notes routes
  apps/api/src/routes/notes.routes.ts
Due: eslint --fix

fix: correct optional user foreign key for notes
  apps/api/prisma/migrations/20240219233921_fix_optional_user_foreign_key/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/routes/notes.routes.ts
  apps/web/src/dtos/note.ts
Due: eslint --fix

refactor: improve signin/signup submit button and spinner
  apps/web/src/components/button.tsx
  apps/web/src/components/list-notes.tsx
  apps/web/src/components/login-form.tsx
  apps/web/src/components/signup-form.tsx
  apps/web/src/components/spinner.tsx
Due: eslint --fix

refactor: improve redirect when user context variable changes
  apps/web/src/actions/users.ts
  apps/web/src/contexts/auth.tsx
Due: eslint --fix

feat: add user account dropdown menu
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/components/header.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

style: change keyframes for animations
  apps/web/src/app/globals.css
Due: prettier --write

chore: remove firebase authentication
  apps/api/package.json
  apps/api/src/config/firebase-config.ts
  apps/api/src/routes/users.routes.ts
  apps/api/src/services/firebase-auth.ts
  apps/api/src/validation/env-schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: update schemas and migrations to add new user attributes
  apps/api/prisma/migrations/20240211202915_create_notes/migration.sql
  apps/api/prisma/migrations/20240214164512_add_note_created_at/migration.sql
  apps/api/prisma/migrations/20240215172816_create_users/migration.sql
  apps/api/prisma/migrations/20240215173013_add_relation_between_users_and_notes/migration.sql
  apps/api/prisma/migrations/20240219233921_fix_optional_user_foreign_key/migration.sql
  apps/api/prisma/migrations/20240221232647_create_users_and_notes/migration.sql
  apps/api/prisma/schema.prisma
Due: none

breaking change: add nodemailer to send verification emails, add bcrypt to encrypt passwords, update email validator, env-schema/example and routes
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/lib/email-validator.ts
  apps/api/src/lib/nodemailer-sender.ts
  apps/api/src/routes/users.routes.ts
  apps/api/src/validation/env-schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add verify-email page and change api.ts folder
  apps/web/src/actions/auth.ts
  apps/web/src/actions/notes.ts
  apps/web/src/actions/users.ts
  apps/web/src/app/verify-email/page.tsx
  apps/web/src/lib/api.ts
Due: eslint --fix

refactor: improve redirect logic in pages and change signup page folder/file names
  apps/web/src/app/register/page.tsx
  apps/web/src/components/button.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/input.tsx
  apps/web/src/components/login-form.tsx
  apps/web/src/components/register-form.tsx
  apps/web/src/contexts/auth.tsx
  apps/web/src/services/api.ts
Due: eslint --fix

feat: update prisma dependency
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: prepare setup to vercel deploy
  apps/api/package.json
  apps/api/vercel.json
  package.json
Due: prettier --write

refactor: remove smtp validation because it works wrong
  apps/api/src/lib/email-validator.ts
Due: eslint --fix

refactor: move env validation schema for env index directory
  apps/api/src/env/index.ts
  apps/api/src/validation/env-schema.ts
Due: eslint --fix

fix: correct typescript config
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
Due: prettier --write

fix: correct typescript config to deploy
  apps/api/tsconfig.json
Due: prettier --write

fix: resolve eslint config error and unmerge env validation file
  apps/api/src/env/index.ts
  apps/api/src/validation/env-schema.ts
  packages/eslint-config/library.json
  packages/eslint-config/nextjs.json
Due: eslint --fix, prettier --write

fix: resolve vercel error removing typescript path mapping
  apps/api/src/@types/auth.d.ts
  apps/api/src/env/index.ts
  apps/api/src/lib/nodemailer-sender.ts
  apps/api/src/middlewares/user-validation.ts
  apps/api/src/routes/notes.routes.ts
  apps/api/src/routes/users.routes.ts
  apps/api/tsconfig.json
Due: eslint --fix, prettier --write

fix: resolve vunerabilities in dependencies, refactor eslint, prettier and lint-staged config, move docker compose and improve container config
  .env.example
  .eslintrc.json
  .prettierrc
  apps/api/docker-compose.yml
  docker-compose.yml
  package.json
  packages/eslint-config/api.json
  packages/eslint-config/base.json
  packages/eslint-config/library.js
  packages/eslint-config/nextjs.json
  packages/eslint-config/package.json
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  patches/deep-email-validator@0.1.21.patch
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: update turbo, eslint, lint-staged and husky versions and config files, and fix all eslint issues
  .husky/pre-commit
  .lintstagedrc
  apps/api/.eslintrc.json
  apps/api/eslint.config.mjs
  apps/api/package.json
  apps/api/src/middlewares/user-auth.ts
  apps/api/src/middlewares/user-validation.ts
  apps/api/src/routes/notes.routes.ts
  apps/api/src/routes/users.routes.ts
  apps/web/.eslintrc.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/actions/notes.ts
  apps/web/src/actions/users.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/empty-notes.tsx
  apps/web/src/components/header.tsx
  apps/web/src/components/input.tsx
  apps/web/src/components/list-notes.tsx
  apps/web/src/components/login-form.tsx
  apps/web/src/components/modify-note-card.tsx
  apps/web/src/components/new-note-card.tsx
  apps/web/src/components/note-card.tsx
  apps/web/src/components/register-form.tsx
  apps/web/src/contexts/auth.tsx
  apps/web/src/hooks/use-auth.tsx
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix, prettier --write
